.container {
  max-width: 1560px;
}

.avatar-list {
    font-size: 0;
    margin: 0 0 -0.5rem;
    padding: 0;
}

.avatar-list-stacked .avatar {
    box-shadow: 0 0 0 2px #fff;
    margin-right: -0.8em!important;
}

.avatar-list .avatar {
    background: #484c7f no-repeat center/cover;
    border-radius: 50%;
    /* color: var(--secondary-color); */
    display: inline-block;
    font-size: .875rem;
    font-weight: 600;
    height: 2rem;
    line-height: 2rem;
    min-width: 2rem;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: bottom;
    width: 2rem;
}

.bi-person-fill-add{
    color: whitesmoke;
}


