body {
  display: block;
  background-color: #f9fbfd;
  color: #212529;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.1s ease 0s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
